@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
}
