@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.header,
.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25vw 45px;
    background-color: #1f2937;
    color: white;
}

.hero-banner {
    padding-top: 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 500px;
}