@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.header,
.hero-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25vw 45px;
    background-color: #1f2937;
    color: white;
}

.header-logo {
    flex: 1 0 auto;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-banner {
    padding-top: 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 500px;
    flex: 0 2 auto;
}

.hero-main-text {
    flex: 1 0 auto;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtext {
    flex: 1 1 auto;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
}

.informational-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}